span.priceOF {
	color:#556611;
}
span.pricePMP {
	color:#55cc11;
}

.accordion-body{
	background: #f8f8f8 !important;
}

.accordion{
	margin-bottom:2em;
}

.accordion-body-table{
	padding:0 !important;
}

tr.stockisnotinit td, span.stockisnotinit{
    background-color: #efe3b8;
}

span.stockisnotinit{
	height:10px;
	width :10px;
	display: inline-block;
	border: 1px solid #AAAAAA ;
	margin: 0 10px 0 0;
}

fieldset{
	margin-top : 1em;
}

.qty-used-impact{
	color: #e2720f;
	
}

.pointer{
	cursor: pointer;
}

.liste_total{
	background: #eaeaea;
}

.liste_total td.liste_total_cell{
	    font-weight: bold;
}

