#speednomenclature {
	border:1px dashed #eee;
	border-radius: 5px;
	padding: 3px 3px 100px 3px;
	margin:0 200px 0 0;
}
#speednomenclature li,#sortableListsBase li { 
	padding: 10px 10px 10px 10px;
	background-color: #3f3f3f;
    border: 1px solid #ccc;
    margin: 5px;
    color:white;
    font-size:14px;
    border-radius: 5px;
    list-style: none;
}
#speednomenclature li div.title {
	color:#000;
	font-weight: bold;
	
}
#speednomenclature li div.total {
	color:#000;
	font-weight: bold;
	text-align: right;
}
#speednomenclature li div.free {
	color:#0000ff;
}

#speednomenclature a {
	color:#eee;
	font-weight: bold;
}

#speednomenclature ul.notanomenclature {
	border:1px dashed #fff;
}

#speednomenclature li.workstation {
	background-color: #3f5f3f;
}

#speednomenclature .placeholderClass {
	background-color:yellow;
}
#speednomenclature .hintClass {
	background-color:green;
	border:1px dashed white
}
#speednomenclature .currElemClass {
	background-color:#0000FF;
	color:#fff;
}
#speednomenclature li.lineObject {
	background-color: #8f8f9f;
}

div#addto {
	position:absolute;
	top:0;
	right:-1px;
	padding: 10px 20px 10px 10px;
	background-color: #3f3f3f;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
   color:#fff;
}
#speednomenclature li.selectedElement {
	background-color: #ccccff;
}
#speednomenclature li.newElement {
	background-color: #6666ff;
}
